headerbar {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.no-padding {
  padding: 0;
}

.music-row-expand-icon {
  transition: -gtk-icon-transform 0.25s ease;
}

.music-row-expand-icon.rotate {
  -gtk-icon-transform: rotate(180deg);
}

